 body{
     font-family: "lucida sans", "lucida sans regular", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
.header{
    
    background-image: url(../img/planta\ fondo.avif);
    background-size: cover; 
    background-position: center;
    margin:70px;
    padding: 5em;
    font-size:5em;
}
.productos{
    width: 80%;
    margin: auto;
}
.productos td{
    width: 50%;
    padding: 2em;
}
.productos img{
    width: 100%;
    border: solid 1px #ddd
}
.footer{height: 3em;
    line-height: 3em;
    background-color: rgb(185,112,41);
    color: white;
    text-align: center;
    font-weight: 900;

}